.subject-collection-item
    display: flex
    // border-bottom: 1px solid #EAEAEA;
    padding: 14px 14px 14px 24px;
    content-visibility: auto
    img
        width: 78px
        border: 1px solid #0187C5;
        box-shadow: 0 1px 5px #0187C5;
        margin-right 12px
    .title
        flex 1
        font-size: 18px;
        .main-title
            color: #0084B4;
            text-decoration: none
            &:hover
                color: #02A3FB;
                text-decoration: underline;
        .sub-title
            font-size: 14px;
            color: #999;
            padding-left 4px
        margin-bottom: 8px
    .info
        font-size: 12px;
        color: #666;
        margin-bottom: 4px
    .rate
        font-size: 14px;
        color: #E800A4;
    &:nth-of-type(2n)
        background-color: #ffffff;
        border-top: 1px solid #FAFAFAcc;