.subject-item
    display: flex
    // border-bottom: 1px solid #EAEAEA;
    padding: 14px 0;
    img
        width: 78px
        border: 1px solid #0187C5;
        box-shadow: 0 1px 5px #0187C5;
        margin-right 12px
    .bangumi-content
        flex 1
        font-size: 18px;
        .title
            color: #0084B4;
            text-decoration: none
            &:hover
                color: #02A3FB;
                text-decoration: underline;
        .sub-title
            font-size: 14px;
            color: #999;
            padding-left 4px
    &:nth-of-type(2n)
        background-color: #f9f9f9;
        border-top: 1px solid #FAFAFA;