.search
    display: flex
    align-items: center
    padding-right: 4px

.collection-view
    width: 100%


.search-suggestion
    border-radius: 8px
    padding 2px 16px
    cursor: pointer
    &:hover
        background: #f8f9fa