.search-input{
    padding: 0 20px;
}

.collection-view
    width: 100%

#full-loading{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 40vh;
    background: rgba(255,255,255,.6);
}