.subject-item
    display: flex
    padding: 14px 0 14px 24px;
    position: relative
    img
        width: 78px
        height: fit-content;
        border: 1px solid #0187C5;
        box-shadow: 0 1px 5px #0187C5;
        margin-right 12px
        position relative
        z-index 2
    .bangumi-rank-icon
        position: absolute
        top 2px
        left 6px
        font-size: 16px
        width: 24px
        height 24px
        border-radius: 50%
        background-image: linear-gradient(155deg, #9195A3, #9195A300)
        color #fff
        line-height: 24px;
        text-align: center;
    .bangumi-list
        flex 1
    .bangumi-content
        font-size: 18px;
        min-width: 120px;
        .title
            color: #0084B4;
            text-decoration: none
            &:hover
                color: #02A3FB;
                text-decoration: underline;
        .sub-title
            font-size: 14px;
            color: #999;
            padding-left 4px
    &:nth-of-type(2n)
        background-color: #f9f9f9;
        border-top: 1px solid #FAFAFA;
.relation-content
    margin-bottom: 4px
    .rate
        margin-left 4px
        color: #666
.tag-relation
    display: inline-block
    margin-right: 6px;
    background: #369CF8;
    padding: 1px 5px;
    border-radius: 5px;
    color: #FFF;
    margin-bottom: 2px
    font-size: 11px