.subject-author-item
    padding: 14px 8px 14px 24px;
    position: relative
    .item-header
        display: flex
    img
        width: 78px
        height: fit-content;
        border: 1px solid #0187C5;
        box-shadow: 0 1px 5px #0187C5;
        margin-right 12px
        position relative
        z-index 2
    .bangumi-rank-icon
        font-size: 16px
        width: 24px
        height 24px
        border-radius: 50%
        background-image: linear-gradient(to right, #9195A3 40%, #9195A300)
        color #fff
        line-height: 24px;
        text-align: center;
        margin-right 0
    .bangumi-list
        margin-top 24px
        display: flex
        flex-wrap: wrap
    .bangumi-content
        font-size: 18px;
        flex: 1;
        .title
            color: #0084B4;
            text-decoration: none
            &:hover
                color: #02A3FB;
                text-decoration: underline;
        .subject-count
            font-size: 16px;
            padding-left 4px
            color: #999;
    &:nth-of-type(2n)
        background-color: #f9f9f999;
        border-top: 1px solid #FAFAFAcc;
.relation-content
    margin-bottom: 12px
    width: 50%
    box-sizing: border-box
    .rate
        margin-left 4px
        color: #666
.tag-relation
    display: inline-block
    margin-right: 6px;
    background: #369CF8;
    padding: 1px 5px;
    border-radius: 5px;
    color: #FFF;
    margin-bottom: 2px
    font-size: 11px
    font-weight: bold