.form-card
    position: sticky
    top: 0
    z-index: 3
    transition: background .6s, padding .6s, border-radius .6s
    padding: 24px
.form-card--sticky
    background: #ffffff
    padding-bottom: 8px
    padding-top: 8px
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-top-left-radius: 0
    border-top-right-radius: 0
    border-bottom: 1px solid #ccc
    border-left: 1px solid #ccc
    border-right: 1px solid #ccc
    .select-form
        div
            margin-bottom: 6px
.select-form
    div
        transition margin-bottom .6s
        &:last-child
            margin-bottom 0